langchain>=0.1.16
langchain-google-genai
langgraph>=0.0.38
python-dotenv>=1.0.1
neo4j>=5.14.0
chromadb>=0.4.24
fastapi
uvicorn
langchain-community
langchain-ollama
ollama
slowapi
langchain-openai
duckduckgo-search
tenacity
wikipedia
PyJWT
pysqlite3-binary
cryptography
psycopg2-binary
sqlalchemy
redis
